.container {
    position: relative;
    width: 25%;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 120px;
    z-index: 1;
   }
  
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    z-index: 0;
  }
  
  .container:hover .overlay {
    opacity: 0.7;
  }
  
  a.text {
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  div.polaroid
  {
    text-align: center ;
    padding: 10px 20px;
   
  }